-- 메모 테이블 생성
CREATE TABLE IF NOT EXISTS memos (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  title TEXT NOT NULL,
  content TEXT NOT NULL,
  category TEXT NOT NULL DEFAULT 'personal',
  tags TEXT[] DEFAULT '{}',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 업데이트 시간 자동 갱신을 위한 트리거 함수
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS \$\$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
\$\$ language 'plpgsql';

-- 트리거 생성
CREATE TRIGGER update_memos_updated_at 
  BEFORE UPDATE ON memos 
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- 인덱스 생성 (성능 최적화)
CREATE INDEX IF NOT EXISTS idx_memos_category ON memos(category);
CREATE INDEX IF NOT EXISTS idx_memos_created_at ON memos(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_memos_updated_at ON memos(updated_at DESC);
CREATE INDEX IF NOT EXISTS idx_memos_tags ON memos USING GIN(tags);

-- 전문 검색을 위한 인덱스 (선택사항)
CREATE INDEX IF NOT EXISTS idx_memos_search ON memos USING GIN(to_tsvector('korean', title || ' ' || content));
